@import "../../sass/variable.scss";
@import "../../sass/mixin.scss";

.quantity-counter {
  @include flex(space-between, center, row);
  padding: 5px;

  span {
    border: 1px solid $grey;
    font-size: 1.2rem;
    padding: 10px;
    &:nth-child(2) {
      background-color: $grey;
    }

    .counter-margin {
      margin-bottom: -5px;
    }
  }
}
