@mixin anchor {
  text-decoration: none;
  color: black;
  margin: 5px 10px;
  font-size: 1rem;
  font-weight: 500;
}

@mixin flex($content, $items, $direction) {
  display: flex;
  justify-content: $content;
  align-items: $items;
  flex-direction: $direction;
}

@mixin grid($row, $col) {
  display: grid;
  grid-template-columns: repeat($row, auto);
  grid-template-rows: repeat($col, auto);
  grid-gap: 10px;
}

@mixin background($url) {
  background-image: url($url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // opacity: 0.9;
}
@mixin flexProperties($column, $center) {
  display: flex;
  flex-direction: $column;
  align-items: $center;
}
