@import "../../sass/variable.scss";
@import "../../sass/mixin.scss";

.Product-middle {
  width: 70%;
  margin: 5% auto;
  box-sizing: border-box;
  @include flex(space-between, flex-start, row);
  .Product-middle-left {
    width: 60%;
    text-align: left;

    p {
      line-height: 1.8rem;
      font-size: 0.95rem;
    }

    iframe {
      width: 100%;
    }
  }
  .Product-middle-right {
    width: 35%;
    border: 1px solid $grey;

    .Product-middle-right-price {
      text-align: left;
      background-color: #d2cfcf45;
      width: 100%;
      margin-top: -20px;

      h2 {
        padding: 13px 2px;
      }
    }
    .Product-middle-right-bottom {
      padding: 5px 10px;
    }
    select {
      @include select();
    }
  }
}
