@import "../../sass/variable.scss";
@import "../../sass/mixin.scss";

.button {
  @include flex(flex-start, center, row);
  div {
    background-color: $bgColoryellow;
    color: $colorBlack;
    padding: 10px 20px;
    border-radius: 4px;
  }
  a {
    margin-left: 15px;
  }
}
